.gnb_depth2 {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    background: #fff;
    height: 48px;
    overflow: hidden;
    opacity: 0;
    z-index: 1;
    transition: top .2s,opacity .2s;
    border-bottom: 1px solid #e8e8e8;
}

.gnb_depth2 ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: left;
    justify-content: left;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;
}

.gnb_depth2 ul li {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0 20px 0 0;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.gnb_depth2 ul li:first-child {
    padding: 0 20px;
}

.gnb_depth2 ul li a {
    position: relative;
    color: #767676;
    display: block;
    height: 100%;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    box-sizing: border-box;
    padding: 12px 0;
}



.gnb_depth2 ul li.on a:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2px;
    background: linear-gradient(93.4deg,#f40000,#ff8a00 14.06%,#f9ad05 37.76%,#fc348c 62.77%,#b258cb 78.91%,#00c4b4 94.39%);
}