.select_box::after {
    content: "";
    position: absolute;
    z-index: 1;
    right: 14px;
    width: 12px;
    height: 8px;
    top: 22px;
    background: url(https://storage.googleapis.com/team3_spharos_bucket/img/coupon/sort.png) no-repeat;
    background-size: 100% auto;
    transform: translateY(-50%);
    text-decoration: inherit;
    vertical-align: inherit;
}

.btn_all::before {
    background: url(https://storage.googleapis.com/team3_spharos_bucket/img/coupon/couponDown.png)no-repeat left 0/19px 19px;
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    position: absolute;
    right: 0;
    bottom: 1px;
    text-decoration: inherit;
    vertical-align: inherit;
}