.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.sidemenuwrap {
  width: 320px;
  height: 1200px;
  background-color: var(--ssg-point-secondary);
  position: absolute;
  top: 0;
  left: -320px;
  z-index: 200;
  transition: all 0.3s ease-in-out;
}

.sidemenuwrap.open {
  left: 0;
  transition: all 0.3s ease-in-out;
}
