
.PntGiftList_plus {
    display: inline-block;
    height: 14px;
    font-size: 12px;
    line-height: 13px;
    padding-left: 19px;
    box-sizing: border-box;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 2px;
    color:#ea035c;
}

.PntGiftList_plus:before {
    content: "";
    border-radius: 50%;
    margin: -1px 4px 0 0;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background: url(https://storage.googleapis.com/team3_spharos_bucket/img/icon/p_accumulate.png) no-repeat 50% #ea035c;
    background-size: 8px auto;
}

.PntGiftList_minus {
    display: inline-block;
    height: 14px;
    font-size: 12px;
    line-height: 13px;
    padding-left: 19px;
    box-sizing: border-box;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 2px;
}

.PntGiftList_minus:before {
    content: "";
    border-radius: 50%;
    margin: -1px 4px 0 0;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
        background: url(https://storage.googleapis.com/team3_spharos_bucket/img/icon/p_minus.png) no-repeat 0 0;
    background-size: 16px 16px;
}

.p_accumulate {
    width: 90px;
    color: #ea035c;
    font-size: 13px;
    line-height: 21px;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Inter,Noto Sans KR,sans-serif;
}

.p_accumulate:before {
    content: "";
    border-radius: 50%;
    margin: 2px 8px 0 0;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background: url(https://storage.googleapis.com/team3_spharos_bucket/img/icon/p_accumulate.png) no-repeat 50% #ea035c;
    background-size: 8px auto;
}

.p_accumulate span {
    display: block;
    font-size: 11px;
    line-height: 19px;
    font-weight: 400;
    word-break: keep-all;
    padding-left: 23px;
}

.p_cancel {
    width: 90px;
    color: #767676;
    font-size: 13px;
    line-height: 21px;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Inter,Noto Sans KR,sans-serif;
}

.p_cancel:before {
    content: "";
    border-radius: 50%;
    margin: 2px 8px 0 0;
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 16px;
    background: url(https://storage.googleapis.com/team3_spharos_bucket/img/btn/p_cancel.png) no-repeat;
    background-size: 16px auto;
}

.p_cancel span {
    display: block;
    font-size: 11px;
    line-height: 19px;
    font-weight: 400;
    word-break: keep-all;
    padding-left: 23px;
    color:#000;
}


.p_location {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #000;
    font-size: 14px;
    line-height: 24px;
    padding: 0 8px;
}

.view_receipt {
    position: absolute;
    top: 16px;
    right: 5px;
}

.view_btn {
    font-size: 11px;
    line-height: 19px;
    margin-top: 2px;
    position: relative;
    margin-right: 8px;
    word-break: keep-all;
    color: #767676;
}

.view_btn:after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 6px;
    height: 10px;
    margin: 5px 0 0 1px;
    background: url(https://storage.googleapis.com/team3_spharos_bucket/img/btn/view_btn.png) no-repeat 0 0;
    background-size: 100% auto;
    position: absolute;
    right: -11px;
    top: 0;
    opacity: .6;
}