.membership_button_default {
    width: 10px;
    height: 5px;
    padding: 12px;
    background: url(https://storage.googleapis.com/team3_spharos_bucket/img/btn/view_btn.png) 50% no-repeat;
    background-size: 7px auto;
    transform: rotate(270deg);
}
.membership_button_active {
    width: 10px;
    height: 5px;
    padding: 12px;
    background: url(https://storage.googleapis.com/team3_spharos_bucket/img/btn/view_btn.png) 50% no-repeat;
    background-size: 7px auto;
    transform: rotate(90deg);
}

.hidden{
    display: none;
}