.point_switch_step {
    margin-top: 24px;
    position: relative;
    max-width: 320px;
    margin: 0 auto;
}

.point_switch_step:before {
    content: "";
    position: absolute;
    top: 39px;
    width: 18px;
    height: 14px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAQCAYAAABz9a1kAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEzSURBVHgBxZPBTcNQDIZtvxw5ZAOyAamQIo50AzZI2YCUDsAAgXSEMEnLDRUhwgZhg97ps3EUtXlIIDXoJfwny7L1Pv3+H4JHSXwXsjlJiajCl/lTn10Cj1KIQhCWVni9S/K0z65XECDsaoayD4xXEPqkDBFr6GCWktyfHbULHoVVtiVDUwcmtCzrY2AQBpBcFBFbXolI1DakNoyX+Lb4gDFB/gLjN6yO8DmrNbtXWm7bBkaW9EyT/PTHeRhYTT6anGgZtg11xgaTJk/u3GCO7IWb23dDdNM1MOLAriQuwm9zMJIkeUgtc+k8XNHOTPfODO7I4eHN/BGxc0YAYmts4YBp8zxPWS2DMYQwO/yklqgMXhfX2EBYhBL+UwIzAjPadX6XMrSn0SAxO3aNKCGsA83PF0qJg0FhHigNAAAAAElFTkSuQmCC) no-repeat 0 0;
    background-size: 100% auto;

    left: calc(20px + 25%);
    margin-left: -9px;
}

.point_switch_step:after {
    content: "";
    position: absolute;
    top: 39px;
    width: 18px;
    height: 14px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAQCAYAAABz9a1kAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEzSURBVHgBxZPBTcNQDIZtvxw5ZAOyAamQIo50AzZI2YCUDsAAgXSEMEnLDRUhwgZhg97ps3EUtXlIIDXoJfwny7L1Pv3+H4JHSXwXsjlJiajCl/lTn10Cj1KIQhCWVni9S/K0z65XECDsaoayD4xXEPqkDBFr6GCWktyfHbULHoVVtiVDUwcmtCzrY2AQBpBcFBFbXolI1DakNoyX+Lb4gDFB/gLjN6yO8DmrNbtXWm7bBkaW9EyT/PTHeRhYTT6anGgZtg11xgaTJk/u3GCO7IWb23dDdNM1MOLAriQuwm9zMJIkeUgtc+k8XNHOTPfODO7I4eHN/BGxc0YAYmts4YBp8zxPWS2DMYQwO/yklqgMXhfX2EBYhBL+UwIzAjPadX6XMrSn0SAxO3aNKCGsA83PF0qJg0FhHigNAAAAAElFTkSuQmCC) no-repeat 0 0;
    background-size: 100% auto;
}

.point_switch_step ol {
    font-size: 0;
    text-align: center;
    list-style: none;
}

.point_switch_step li {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 80px;
    height: 103px;
    margin-right: calc(50% - 120px);
}

.point_switch_step li:before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
    background: url(/switch_step_icon.png) no-repeat;
    background-size: 258px auto;
}

.point_switch_step.step1 li:first-child:before {
    background-position: 0 100%;
    background-size: 254px auto;
}

.point_switch_step li:nth-child(2):before {
    background-position: -90px top;
}
.point_switch_step li:nth-child(3):before {
    background-position: 100% 0;
}

.btn_box {
    display: block;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    height: 48px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 12px 16px;
    background: linear-gradient(110deg,#f40000 -5.78%,#ff8a00 17.06%,#f8b404 33.44%,#f9ad05 48.81%,#ff8a00 64.68%,#b258cb 85.01%,#00c4b4 103.04%);
    color: #000;
    font-weight: 500;
}